<!doctype html>
<html ng-app="eventSearchApp">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Show Listing App</title>

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        
        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->

        <!-- Eventful API -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script type="text/javascript" src="http://api.eventful.com/js/api"></script>

    </head>
    <body class="page--index" ng-controller="mainController">
        <!--[if lt IE 10]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    <li class="active"><a href="#">Search</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <h3 class="text-muted">Event Search</h3>
            </div>

            <div class="form-container">


                <h1>{{searchQuery}}</h1>

                <form name="search-form" class="search-form" id="search-form" ng-submit="searchEvents()">

                    <div class="input-group">
                        <div class="dropdown">
                            <label for="locationDropdown">Narrow by location:</label>
                            <button class="btn btn-default dropdown-toggle" type="button" id="locationDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Select
                                <span class="caret"></span>
                            </button>
                          
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a data-value="city">City</a></li>
                                <li><a data-value="state">State (default)</a></li>
                                <li><a data-value="country">Country</a></li>
                            </ul>
                        </div>

                    </div>
                    
                    <div class="input-group input-group-lg">

                        <input type="text" class="form-control" id="search-field" ng-model="searchQuery" placeholder="Search for shows">
                    
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-primary" type="button" id="search-button" ng-click="searchEvents()">Go!</button>
                        </span>

                    </div><!-- /input-group -->


                    <label>
                        <input type="checkbox" ng-model="useLocation" ng-click="getLocation()" />
                        <span>Use Location Services</span>
                    </label>

                    <div ng-show="alert === 'location'" class="alert alert-success alert--location" role="alert" id="alert--location">
                        
                        <span class="lat-long">
                            <strong>Your location: </strong>
                            <i>Latitude {{geolocation.lat}}, {{geolocation.long}}</i>
                        </span>

                    </div>

                    <div ng-show="alert === 'location-failed'" class="alert alert-warning alert--location-failed" role="alert" id="alert--location-failed">
                        <p>Please enable location services.</p>
                    </div>

                </form>
            </div>

            <div class="row">

                <h4>TicketMaster</h4>
                <div class="results-container ticketmaster-results" ng-controller="ticketmasterController">
                    
                    <div ng-repeat="event in ticketmasterEvents">

                        <div class="event event--ticketmaster col-lg-6 col-md-6">
                            <h4>
                                <a class="event__link" href="http://ticketmaster.com/event/02005147CE235905" target="_blank">Kanye West: The Saint Pablo Tour</a>
                            </h4>

                            <img class="event__image" src="http://s1.ticketm.net/dam/a/82d/cede11c3-821c-4915-8be2-b506c704c82d_118111_RECOMENDATION_16_9.jpg">

                            <div class="event__description">
                                <p class="event__date">11/16/2016</p>
                                <p class="event__location">Newark, New Jersey</p>
                                <p class="event__source">
                                    <strong>Source: </strong>TicketMaster
                                </p>
                                <a href="http://ticketmaster.com/event/02005147CE235905" class="btn btn-info" target="_blank">Go!</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" ng-controller="eventfulController">
                <h4>Eventful</h4>
                <div class="results-container eventful-results"></div>
                
            </div>

            <div class="footer">
                <!-- <p>Back to <a href="http://mikesorensen.rocks/" target="_blank">mikesorensen.rocks</a></p> -->
            </div>

        </div>
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="/bower_components/jquery/dist/jquery.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        
        <!-- build:js scripts/plugins.js -->
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
        <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
        <!-- endbuild -->
        
        <!-- build:js scripts/main.js -->
        <script src="scripts/app.js"></script>
        <!-- endbuild -->
    </body>
</html>
